---
title: Server store
image: http://i.imgur.com/t3vkJHq.png
company: Dedioutlet
technologies: [Gulp, Stylus, Jade, Node.js, WHMCS]
brief: Site to advertise servers. Integration with billing to get unsold servers. Emphasis on fast page loading time, by optimizing all files.
---
extends ../views/portfolio-layout

block article
  :marked
    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
    tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
    vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
    no sea takimata sanctus est Lorem ipsum dolor sit amet.
