---
title: Webstore
image: https://i.imgur.com/6DSAn9a.png
company: Fiftee
technologies: [Shopify, Liquid templating, Clojure]
live: http://fiftee.co
brief: Tweaked theme to match provided design. Created site plugin using Clojure, adding additional functionality.
---
extends ../views/portfolio-layout

block article
  :marked
    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
    tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
    vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
    no sea takimata sanctus est Lorem ipsum dolor sit amet.
