---
title: Webstore
image: https://static.pexels.com/photos/3644/pizza-restaurant-dinner-lunch-large.jpg
company: Milano Pizza
technologies: [Wordpress, PHP, Woocommerce, Json Rest API, GCM Android notifications]
brief: Ecommerce store was extended to orders for delivery & collection. Payment could be taken in cash or paypal. Orders went to tablet in kitchen.
---
extends ../views/portfolio-layout

block article
  :marked
    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
    tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
    vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
    no sea takimata sanctus est Lorem ipsum dolor sit amet.
