---
title: Site Updates
image: http://i.imgur.com/DGbLy67.png
company: Mineocity
technologies: [HTML, CSS, Git]
brief: Add new pages to existing site, and to help make future updates more maintainable.
---
extends ../views/portfolio-layout

block article
  :marked
    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
    tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
    vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
    no sea takimata sanctus est Lorem ipsum dolor sit amet.
