---
title: Community Website
image: http://i.imgur.com/8LKacjS.png
company: The Chunk
technologies: [Vanilla Forums, Hapi.js on io.js, CSS with Stylus, Gulp.js build system, Jade html templating]
brief: To rebuild existing community site, with a focus on extensibility and stability. Needed ways to engage with users through forums, statistics and a webstore.
---
extends ../views/portfolio-layout

block article
  :marked
    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
    tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
    vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
    no sea takimata sanctus est Lorem ipsum dolor sit amet.
