doctype html
html

  head
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='description', content='Dominic Monroe\'s Portfolio')
    meta(name='author', content= "Dominic Monroe")
    //- uncomment if your site is responsive!
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(href='//fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css')

    title Dominic Monroe
    != css('/')

  body
    block navbar
      nav.siteNav
        mixin navLink
          li
            a&attributes(attributes) #{block()}
        ul.links
          +navLink(href='/#jumbotron') Home
          +navLink(href='/#about') About
          +navLink(href='/#portfolio') Portfolio
          +navLink(href='/#hire') Hire Me

    block content

    != js()
    script(src='/js/build.js')
