.portfolio-article
  max-width 960px
  margin 1em auto
  font-size 1.2rem
  background pale-bg

  img
    display block
    margin 0 auto
    max-width 80%

  .title
    font-weight 400

    small
      font-weight 300
      font-size 0.7em
