@import 'jeet'
.siteNav 
  background-color navbarBg
  color white
  font-family 'Lato'
  font-weight bold
  min-height navbarHeight
  line-height navbarHeight
  text-transform uppercase
  position fixed
  top 0
  left 0
  width 100%
  z-index 3

  padding-left 2rem
  padding-right @padding-left

  .links 
    list-style none
    padding 0
    margin 0
    text-align right

    li 
      display inline-block
      margin-right 1em

      &:first-child
        margin-left @margin-right

      &:last-child
        margin-right 0

      +mobile()
        // Start reset
        margin auto

        &:first-child, &:last-child
          margin auto
        // End reset

        j-column(1/2, gutter: 0, cycle: 2)
        text-align center

body 
  padding-top navbarHeight

  +mobile()
    padding-top navbarHeight*2 // 2 lines caused by width (1/2)
