---
title: Webstore
image: https://i.imgur.com/6DSAn9a.png
company: Fiftee
technologies: [Shopify, Liquid templating, Clojure]
live: http://fiftee.co
brief: My job was to extend Fiftee's Shopify store, to make their brand shine.
---
extends ../views/_portfolio-layout

block article
  :marked
    *Note:* Fiftee is an on-going project, and therefore this write-up is not
    yet complete.

    # The Process

    Fiftee first required a theme that matched their design. As launch was
    imminent, I decided that the fastest way to do this was to buy an existing
    theme, and extend it.

    I decided to maintain the same level of configuration that the theme came
    with. This would allow Fiftee to make small changes to the site, without
    needing to hire me again.

    First port of all I cleaned up the template. Removing advertisements,
    changing colours to match Fiftee's design, and other minor changes.

    The next job was to allow a user to filter products by the charity the
    product supported. To enable this I extended the template with filter code.
    I also added a configuration, which identified tags that were a charity.

    Fiftee wanted to do an introductory promotion of a store discount. There
    was an extension available to do this, but it seemed simple. I was able to
    put together a script in Clojure which had the same functionality, in 15
    minutes.
