---
title: Site Updates
image: http://i.imgur.com/DGbLy67.png
live: http://mineocityhosting.com/
company: Mineocity
technologies: [HTML, CSS, Git]
brief: Add new pages to existing site, and to help make future updates more maintainable.
---
extends ../views/portfolio-layout

block article
  :marked
    # The Problem
    Mineocity had a previous site built by [Connor](http://peet.io). However
    over time the site had broken a little bit of HTML, and Mineocity were also
    offering additional plans now.

    # The Solution
    I first modified the existing templates left by Connor, and added some new
    pages for the new types of plans: Budget & Source.

    To assist with the HTML editing process within Mineocity, I helped them
    setup a development process for preventing breaks from ever going live. I
    created a split development/production environment using Git branches &
    Apache virtual hosts. They can test changes in development, and once they're
    happy, they can pull straight into production. If an error later reveals
    itself, they can simply rollback.
