---
title: Buycraft Theme
image: http://i.imgur.com/BAVklTW.png
company: NoxiousPVP
technologies: [Gulp.js, Stylus, Jade]
brief: To build a theme for buycraft, that would match the existing branding.
link: http://store.noxiouspvp.com/
---
extends ../views/_portfolio-layout

block article
  :marked
    # The Process

    I was able to quickly build this project, due to having previously built a
    tool for developing buycraft themes called
    [buymilk](https://github.com/SevereOverfl0w/generator-buymilk). This tool
    allows me to setup a copy of an existing store in a single command.

    NoxiousPVP provided me with a few other sites that he liked, to use as
    inspiration in creating his design. I enquired further about specific
    elements they liked, and found that the flat design was popular here.

    I sampled a few colours from the existing logo, and used those as a base to
    build the site's palette. 

    I was able to quickly build up the site using buymilk, and could see changes
    instantly as I made them, making theme development very fast.
