@require 'jeet';
#contact {
  text-align: center;
  .column {
    margin: 0 auto;
    width: 51%;
    margin-bottom: 2em;

    > * {
      margin: 0 auto;
    }
  }
  #methods { 
    a {
      display: block;
    }
  }


  #contactForm {
    text-align: left;
    display: inline-block;
    max-width: 500px;
    width: 100%;
    label {
      padding-bottom: 0.1em;
      padding-top: 0.25em;
      display: inline-block;
    }
    textarea, input[type='text'], input[type='email'] {
      width: 100%;
    }

    input[type='submit'] {
      display: inline-block;
      background: lightBlue;
      color: white;
      border: 0;
      box-shadow: 0;
      border-radius: 2px;
      padding: 0.25em;
      margin-top: 0.25em;
      cursor: pointer;
    }
  }
}
