section#jumbotron {
  // background-image: url(http://cdn.thefoxwp.com/wp-content/uploads/2014/12/slide12.jpg);
  background-image: url(https://static.pexels.com/photos/3925/desk-ruler-designer-chair-large.jpeg)
  background-size: cover;
  color: white;
  font-family: 'Lato';
  height: 100%;
  letter-spacing: 0.3em;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    display: block;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: transparentify(darkBlue);
  }

  #logo {
    max-width: 250px;
    max-height: @max-width;
  }

  #jobTitle {
    font-size: 5rem;
    margin-top: 0;
    border: 0.5rem solid white;
    padding: 0.75rem;
  }

  #subText {
    font-size: 1.75rem;
  }
}
