section#about
  .centerWrapper
    h1 About Me
    #avatar
      img(src='http://i.imgur.com/4wR8JeF.jpg')
    #text
      article 
        h2 Who I am
        p Hi, I'm Dominic. I'm a freelance web developer from Exeter, Devon. I live with my girlfriend and puppy, Sven. I love the creative challenges that all aspects of web devlopment provide, from interfacing with a database, to playing with a new front-end library.js. In the rest of my time, I enjoy exercising which I think is key to a long life, and reading books to learn new things.
      article
        h2 What I can do
        p I work with Game Servers & their hosts (such as those for Minecraft), to build interactive communities which engage and delight their users. When all of your income is through your website, it's imporant that your website: <strong>Loads fast, has a great user experience and is easy to use.</strong>

