section#about
  svg(width=0 height=0)
    defs
      symbol#icon-checkmark(viewbox='0 0 1024 1024')
        title checkmark
        // path.path1(d='M192 384l-192 192 384 384 640-640-192-192-448 448z')
        // path.path1(d="M383.147 981.333l-243.627-426.411 148.181-84.651 97.664 170.837 352.043-598.443 147.072 86.485-501.333 852.181z")
        path.path1(d="M864 128l-480 480-224-224-160 160 384 384 640-640z")
  .centerWrapper
    // h1 Me
    #avatar
      img(src='http://i.imgur.com/4wR8JeF.jpg')
      p#who Resident of Exeter, England. Boyfriend to Katie. Owner of dog, Sven. Book reader. Learner. Health conscious. Aspiring code wizard.
    #text
      article#what
        h2 What can I do for you?
        mixin do
          li
            svg.icon.icon-checkmark
              use(xlink:href='#icon-checkmark')
            block
        ol.custom-icon-list
         +do Build a new website.
         +do Create a plugin, extension, or theme.
         +do Update an existing website.
         +do Seamlessly integrate forums, store, etc.
         +do Create safe website update procedures
      article#how
        h2 What can you work with?
        p I have realised that most technologies are similar, and I can learn any of them without issue.
        p I've got extensive practical exprience using these technologies:
        ol
          li Javascript,&nbsp;
            small and libraries React/Gulp/JQuery/Browserify/Node.js
          li CSS,&nbsp;
            small and preprocessors: Stylus/Sass/Less
          li HTML,&nbsp;
            small and templating: Jade/Jinja/Handlebars/Hiccup
          li Server technologies,&nbsp;
            small such as Flask/Django/Hapi/Express/Clojure/PHP
          li Platforms&nbsp;
            small including Shopify/Discourse/Vanilla/Xenforo/Enjin
